.kgv-footer{
    display: flex;
   
    padding: 1em;
    min-height: 300px;
    background-color: $xanadu;
    margin-top:auto;
    border-top: 5px solid $border;

    box-shadow: 1px 1px 1px 1px solid #f0f0f0;
    .kgv-footer-container{
        display: flex;
        justify-content: space-between;
     
        width:100%;
        .kgv-single-footer-item{
            display: flex;
            flex-direction: column;
            padding:1em 0em;
            flex:1;
            h3{
                margin-bottom: 15px;
            }
            .kgv-location{
                margin-bottom: 10px;
            }
        }
        .kgv-google-maps {
            position: relative;
            padding-bottom: 38%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
        }
        
    }

    .kgv-social-icons{
        display: flex;
        justify-content: flex-end;
        a{
            display: block;
            margin-left: 13px;
            transition: 0.3s ease-in;
            &:hover{
                color: $shadow;
            }
            i{
                font-size: 2.7rem;
            }
        }
    }   
}

