@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mukta&display=swap');

/* SCSS RGB */
$umber: rgba(95, 85, 71, 1);
$shadow: rgba(127, 114, 100, 1);
$xanadu: rgba(106, 117, 103, 1);
$white: #DFDDD8;

$border: $umber;
/* SCSS Gradient */

$gradient-radial: radial-gradient(#000000ff, #362023ff, #ffffffff, #28666eff, #7c9885ff);


$max-width: 1300px;